.settings-container {
  display: flex;
  height: 100%;
  margin: 5px;
  background: rgb(27, 27, 27);
  border: 1px solid rgba(177, 177, 177, 0.288);
  border-radius: 5px;
  flex-direction: column;
  gap: 10px;
}

.settings-left-container,
.settings-right-container {
  width: 50%;
}

.sub-settings-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-label {
  display: flex;
  font-size: 28px;
  margin-left: 23px;
  margin-top: 30px;
}

.sub-label {
  font-size: 18px;
  margin-left: 23px;
  margin-top: 20px;
}

.default-input {
  display: flex;
  width: 200px;
  height: 25px;
  margin-left: 20px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
}

.settings-container-top {
  display: flex;
  flex-direction: row;
  height: 90%;
}

.settings-container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.settings-container-bottom button {
  width: 200px;
  background: rgb(29, 29, 29);
  margin-bottom: 20px;
}
