.default-button {
  display: flex;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  background: rgb(27, 27, 27);
  color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(177, 177, 177, 0.288);
}

.default-button:hover {
  background: rgb(34, 34, 34);
  border: 1px solid rgba(177, 177, 177, 0.61);
  cursor: pointer;
}
