.league-table {
  display: flex;
  width: 100%;
  height: 90%;
  background: rgb(27, 27, 27);
  border-radius: 5px;
  flex-direction: column;
  table-layout: fixed;
  overflow-y: auto;
  border: 1px solid rgba(177, 177, 177, 0.288);
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgb(27, 27, 27);
}

thead tr {
  display: flex;
  margin: 5px;
  margin-bottom: 0;
  gap: 5px;
  font-size: 16px;
}

tbody tr {
  display: flex;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background: #1d1d1d;
  border: 1px solid rgba(177, 177, 177, 0.288);
}

tbody tr:hover {
  background: rgb(49, 49, 49);
  border: 1px solid rgba(177, 177, 177, 0.61);
  cursor: pointer;
}

.th-name {
  width: 70%;
  padding: 10px;
  background: #0f0f0f;
  border-radius: 5px;
  user-select: none;
  resize: horizontal;
  cursor: pointer;
  border: 1px solid rgba(177, 177, 177, 0);
}

.th-title {
  width: 100%;
  padding: 10px;
  background: #0f0f0f;
  border-radius: 5px;
  user-select: none;
  resize: horizontal;
  cursor: pointer;
  border: 1px solid rgba(177, 177, 177, 0);
}

.th-amount,
.th-price {
  width: 15%;
  padding: 10px;
  background: #0f0f0f;
  border-radius: 5px;
  user-select: none;
  resize: horizontal;
  cursor: pointer;
  border: 1px solid rgba(177, 177, 177, 0);
}

.th-amount:hover,
.th-price:hover,
.th-name:hover {
  background: rgba(49, 49, 49, 0.486);
  border: 1px solid rgba(177, 177, 177, 0.61);
}

.td-name {
  width: 70%;
  margin-left: 10px;
  font-size: 16px;
  height: 30px;
  margin-top: 10px;
}

.td-amount,
.td-price {
  text-align: center;
  width: 15%;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 16px;
  height: 30px;
  margin-top: 10px;
}

.flash-green {
  animation: bg-color-green 0.7s ease;
}

@keyframes bg-color-green {
  0% {
    background-color: rgb(0, 128, 0, 0.2);
  }
  50% {
    background-color: rgb(0, 128, 0);
  }
  100% {
    background-color: rgb(0, 128, 0, 0);
  }
}

.flash-red {
  animation: bg-color-red 0.7s ease;
}

@keyframes bg-color-red {
  0% {
    background-color: rgba(255, 0, 0, 0.2);
  }
  50% {
    background-color: rgb(165, 0, 0);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
  }
}
